* {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.items > * {
    display: flex;
}

li {
    margin-right: 30px;
}

.done > li {
    text-decoration: line-through;
}

body {
    background-color: #6d68af;
}

button {
    background-color: rgb(0, 0, 0, 0);
    border: solid whitesmoke;
    border-radius: 5px;
}

dialog {
    background-color: purple;
}

input {
    background-color: #6d68af;
}